<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">

<body>
<div class="background2">
  <div>Show Timetable for a given course list</div>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <input [(ngModel)]="name" name="name" placeholder="Course List">
    <button>Submit</button>
  </form>
  <div class="err" ng-if="errorMessage">{{ errorMessage }}{{msg}}</div>
  <table>
    <tbody>
        <tr *ngFor="let t of timetable">
          <td>
          <Strong> {{t?.subject}} {{t?.catalog_nbr}}
         </Strong>
         <strong>Class Name: </strong>{{t?.classname}}<br>
        <strong>Class Section: </strong> {{t?.class_section}} <br>
        <strong>SSR_Component</strong> {{t?.ssr_component}} <Br>
         <strong>Class Section</strong>  {{t?.class_section}} <br>
        <strong>Time</strong> {{t?.start_time}} 
         {{t?.end_time}} <Br>
        <strong>Campus:</strong> {{t?.campus}} <br>
         <strong>Days: </strong>{{t?.days}} <br>
         {{t?.descrlong}} <Br>
        </td> 
        </tr>
    </tbody>
  </table>
  
</div>
</body>