
<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">

<body>
<div class="background2">
  <h1>Reviews</h1>
  <div class="err" ng-if="msg">{{msg}}</div>
<button class='show' (click)="showReviews()">Refresh Reviews</button>
    <div class='all' *ngFor="let r of review;">
     <strong>Review ID:  {{r?.reviewID}}</strong> <br>
     <strong>Subject: </strong>  {{r?.subject}} {{r?.catalog_nbr}} <br>
      <strong>Hidden:</strong>  {{r?.hidden}} <br>
     <strong>Rating:</strong>   {{r?.rating}} <br>
     <strong>Review:</strong>  {{r?.review}}<Br> 
      <strong>Date Created:</strong> {{r?.date}} <br>
      <button (click)="toggle(r.reviewID, r.hidden)"> Toggle Hidden Property</button>
      
</div>
</div>
</body>