.background3{
    background:lightgoldenrodyellow;
    z-index: 2;
    text-align:center;
    position: absolute;
    width: 400px;
    height: 300px;
    left: 850px;
    top: 100px;
    overflow-y: scroll;
}

table, th, td {
    border: 1px solid black;
    width: 100%;
}

tbody:empty {
    display: none;
 }

 
.err{
    background-color: rgb(255, 188, 198);
}