<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">

<body>
<div class="background3">
 <div>Search Timetable by <strong>Subject and Course</strong> or <strong>Subject, Course and Component</strong> </div>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <input [(ngModel)]="subname" name='subname' placeholder="Input Subject Name">
     <input [(ngModel)]="subcode" name="subcode" placeholder="Input Subject Code">
    <input [(ngModel)] = "type" name='type' placeholder="Input Type">
    <button>Submit</button>
  </form>

  <div class="err" ng-if="errorMessage">{{ errorMessage }} {{msg}}</div>

<table>
  <tbody>
      <tr *ngFor="let c of course">
        <td [ngStyle]="{'background-color': getColor(c.courseInfo[0].ssr_component)}">
        {{c?.catalog_nbr}}
        {{c?.subject}}
        <br>
        Start Time: {{c?.courseInfo[0].start_time}}
        End Time: {{c?.courseInfo[0].end_time}}<br>
        Days: {{c?.courseInfo[0].days}}
        Campus: {{c?.courseInfo[0].campus}}
        Section: {{c?.courseInfo[0].class_section}}<br>
        Description: {{c?.courseInfo[0].descr}}
      </td> 
      </tr>
  </tbody>
</table>
 </div>
 </body>
 