<div class='background'>
    
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <input [(ngModel)]="subject" name="subject" placeholder="Enter Subject">
        <input [(ngModel)]="catalog_nbr" name="catalog_nbr" placeholder="Enter Catalog Number">
        <input [(ngModel)]="review" name="review" placeholder="Enter Review" class='review'>
        <input [(ngModel)]="rating" name="rating" placeholder="Enter Rating" type="number">
        <button>Submit</button>
      </form>
      <div class="err" ng-if="msg">{{msg}}</div>
    <div class="err" ng-if="newmsg">{{newmsg}}</div>
</div>