
<button class='home' (click)="home()">Home</button>
<button class='login1' (click)="login()">Login</button>

<form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="container">
      <label for="username">First Name</label>
      <input [(ngModel)]="username" name='username' type='username' placeholder="Enter Username">

      <label for="email"><b>Email</b></label>
      <input [(ngModel)]="email" name='email' type="text" placeholder="Enter Email" required>
  
      <label for="password"><b>Password</b></label>
      <input [(ngModel)]="password" name="password" type="password" placeholder="Enter Password"required>
  
      <button class='login'>Register</button>
      <div class="err" ng-if="errorMessage">{{ errorMessage }}</div>
      <div class="err" ng-if="msg">{{ msg }}</div>
    </div>

  </form>
