<p>create-list works!</p>
<div class='background'>

<form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <input [(ngModel)]="name" name="name" placeholder='Name of Schedule'> <br>
    <input [(ngModel)]="description" name="description" placeholder='Description of Schedule'> <br>

    Hidden: <input type="checkbox" name="isChecked" [(ngModel)]="isChecked"> <br>
    <input id="code1" name="code1" placeholder="Input Subject Code">
        <input id="id1" name='id1' placeholder="Input Subject ID"> <br><br>
        <input id="code2" name="code2" placeholder="Input Subject Code">
        <input id="id2" name='id2' placeholder="Input Subject ID"> <br><br>
        <input id="code3" name="code3" placeholder="Input Subject Code">
        <input id="id3" name='id3' placeholder="Input Subject ID"> <br><br>
        <input id="code4" name="code4" placeholder="Input Subject Code">
        <input id="id4" name='id4' placeholder="Input Subject ID"> <br><br>
        <input id="code5" name="code5" placeholder="Input Subject Code">
        <input id="id5" name='id5' placeholder="Input Subject ID"> <br><br>
    <button>Create</button>
</form>

<div class="err" ng-if="msg">{{msg}}</div>
</div>