<!DOCTYPE html>
<html lang="en">

<body>
<div class="background3">
 <div>Search Timetable by <strong>Subject and Course</strong> </div>
 <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <input [(ngModel)]="subject" name="subject" placeholder='subject'>
    <input [(ngModel)]="courseNum" name="courseNum" placeholder='coursenum'>
    <button>Submit</button>
  </form>
  
  <div class="err" ng-if="errorMessage">{{ errorMessage }}{{msg}}</div>

  <div class='course' *ngFor="let c of course">
    <Strong> {{c?.subject}} {{c?.catalog_nbr}}</Strong><br>
            Class Section: {{c?.class_section}} <br>
            Component: {{c?.ssr_component}}
            {{c?.catalog_nbr}}
           

    <button (click)="toggleShow()">Show More</button>
      
    <div *ngIf="isShown">
      <div class='more'>
        {{c?.descrlong}} <br>
       Time:  {{c?.start_time}}
        {{c?.end_time}}
      </div>
    <div class='review' *ngFor="let c of course; let r of c.reviews">
        Review: {{ r.review }} <br>
        Rating:  {{ r.rating }} <br>
       Creater:  {{ r.name }} <br>
        Date: {{ r.date }}
    </div>
    
  </div>
 </div>
 </div>
 </body>
 