<!DOCTYPE html>
<html lang="en">

<body>
<div class="background3">
 <div>Search Timetable</div>
 <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <input [(ngModel)]="subject" name="subject" placeholder='Subject'>
    <input [(ngModel)]="courseNum" name="courseNum" placeholder='Course Number'>
    <button>Submit</button>
  </form>
  
  <div class="err" ng-if="errorMessage">{{ errorMessage }}{{msg}}</div>

  <div class='course' *ngFor="let c of course">
    <Strong> {{c?.subject}} {{c?.catalog_nbr}}</Strong><br>
            Class Section: {{c?.class_section}} <br>
            Component: {{c?.ssr_component}}
    <button (click)="reviews(c.subject, c.catalog_nbr)">Show</button>  
    <div *ngIf="isShown">
      <div class='more'>
       <strong>Time:</strong>  {{c?.start_time}}{{c?.end_time}} <br>
       <strong>Campus: </strong> {{c?.campus}} <br>
       <strong>Days: </strong> {{c?.days}} <Br>
        <strong>Description:</strong>  {{c?.descrlong}} <br>
      </div>
  </div>
</div>
 </div>

 <div class='review'>
   Review
   <div *ngIf="showReview">
  <div *ngFor='let r of review'  class='r'>
    {{r?.subject}}{{r?.catalog_nbr}} <br>
    <Strong>Review:</Strong>  {{ r.review }} <br>
    <strong>Rating: </strong> {{ r.rating }} <br>
     <strong>Creater:</strong>   {{ r.name }} <br>
    <strong>Date:</strong>   {{ r.date }}
  </div>
</div>
</div>
 </body>
 