.background3{
    background: lightgoldenrodyellow;
    text-align:center;
    position: absolute;
    overflow-y: scroll;
    width: 400px;
    height: 300px; 
    left: 0%;
    top: 30%; 
}

table td{
    border:1px solid #FF0000;
    }

.course{
    background-color: aliceblue;
    border:  solid black;
}

.review{
    background-color: antiquewhite;
    border: solid black;
}

.more{
    background-color: cornflowerblue;
}