.background1{
    background: lightgoldenrodyellow;
    text-align:center;
    overflow-y: scroll;
    position: absolute;
    width: 388px;
    height: 775px;
    left: 28px;
    top: 100px;
    border-radius: 5px;
    
    }

table, th, td {
    border: 1px solid black;
    width: 100%;
    background-color: rgb(220, 218, 248);
}

tbody:empty {
    display: none;
    text-align: center;
 }
    