.showpair{
    background: lightgoldenrodyellow;
    position: absolute;
    height: 450px;
    top: 425px;
    width: 400px;
    left: 850px;
    overflow-y: scroll;
}

tbody:empty {
    display: none;
 }

table, th, td {
    border: 1px solid black;
    width: 100%;
    background-color: #f2e6ff;
}

.err{
    background-color: rgb(255, 188, 198);
    text-align: center;
}
