.deletesched{
   
    background: lightgoldenrodyellow;
    position: absolute;
    height: 300px;
    top: 900px;
    width: 400px;
    left: 850px;
}

.err{
    background-color: rgb(255, 188, 198);
    text-align: center;
}
