<p>show-lists works!</p>
<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">

<body>
<div class="background2">
  <div>Course Lists</div>
<button (click)="showLists()">Show Course Lists</button>

<table>
    <tbody>
        <button (click)="showIDs()">ShowMore</button>
        <tr *ngFor="let l of list;">
          <td>
          {{l?.name}}<Br>
          {{l?.owner}}<Br>
          {{l?.date}}<Br>
          Number of courses: {{l?.courses}}<Br>
          {{l?.description}}<br>
          {{l?.timetables[0].classname}}
        </td> 
        </tr>
    </tbody>
  </table>

</div>
</body>