<p>show-lists works!</p>
<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">

<body>
<div class="background2">
  <div>Course Lists</div>
<button (click)="showLists()">Show Course Lists</button>

        <div *ngFor="let l of list;">
          {{l?.name}}<Br>
          {{l?.owner}}<Br>
          {{l?.date}}<Br>
          Number of courses: {{l?.courses}}<Br>
          {{l?.description}}<br>
       
        <div *ngFor= "let t of l.timetables">
          {{t?.classname}}
        </div>
      </div>

</div>
</body>