<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">

<body>

<div class='createpair'>

    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <input [(ngModel)]="name" name='name' placeholder="Input Schedule Name">
        <br><br>
        <input id="code1" name="code1" placeholder="Input Subject Code">
        <input id="id1" name='id1' placeholder="Input Subject ID"> <br><br>
        <input id="code2" name="code2" placeholder="Input Subject Code">
        <input id="id2" name='id2' placeholder="Input Subject ID"> <br><br>
        <input id="code3" name="code3" placeholder="Input Subject Code">
        <input id="id3" name='id3' placeholder="Input Subject ID"> <br><br>
        <input id="code4" name="code4" placeholder="Input Subject Code">
        <input id="id4" name='id4' placeholder="Input Subject ID"> <br><br>
        <input id="code5" name="code5" placeholder="Input Subject Code">
        <input id="id5" name='id5' placeholder="Input Subject ID"> <br><br>
        <button>Submit</button>
      </form>

      <div class="err" *ngIf="errorMessage">{{ errorMessage }} {{msg}}</div>
      <div *ngIf="!errorMessage"> {{msg}}</div>

</div>

</body>
